@import '../../../../../styles/variables.scss';
.newUserProjectForm {
    width: 100%;
    max-width: 1300px;
   
    .headerProyectsForm{
        margin-top: 1rem;
        margin-bottom: 1.75rem;
        h2,h3,h4{
            color: $secondary-gray;
        }
    }
     .buttonAction{
         color: black;
         display: flex;
         &:hover{
         opacity: 0.8;
         color: black;

         }
     }
     .selectInput{
        width: 100%;
        margin-bottom: 1rem;
        border-bottom: 1px solid  rgba(87, 90, 107, 1);
            
    }
    
    .generalProject{
        width: 30%;
        margin-top: 1rem;
        h2,h3,h4{
            color: $secondary-gray;
        }
        .input{
            margin-bottom: 1rem;
            border-bottom: 1px solid  $secondary-gray;
            border-radius: 0;
            &::placeholder{
                color: $secondary-gray;
            }
        }
    }
}


.selectInput{
    width: 100%;
    margin-bottom: 1rem;
    border-bottom: 1px solid  rgba(87, 90, 107, 1);
}
