@import "../../../styles/variables.scss";

.selectInputCurrencies {
    width: 100%;
    margin-bottom: 0.2rem;
    background-color: $background;
    padding: 0.45rem !important;
    border-radius: 0.25rem;
    border-bottom: none;
}

.selectInputCurrenciesError {
    border: 1px dashed red;
    width: 100%;
    margin-bottom: 0.2rem;
    background-color: $background;
    padding: 0.45rem;
    border-radius: 0.25rem;
}