@import '../../../../styles/variables.scss';

.modalChangeStatus {
    width: 40% !important;

    .ant-modal-content,
    .ant-modal-header {
        background-color: $white !important;
        text-align: center;
    }
    .ant-modal-body{
        width: 55%;
        margin: 0 auto;
    }
    .ant-modal-title {
        font-size: 1.3rem !important;
    }

    .ant-modal-footer {
        display: flex;
        justify-content: center;
    }

    .options {
        width: 70%;
        gap: .5rem;
        margin: 1rem auto;
    }

    .textModal {
        font-size: 1rem;
        width: 5rem;
    }

    .acceptButton {
        color: black;
        width: 55%;
        height: 2.5rem;
        font-size: .9rem;
        font-weight: 500;
        background-color: $secondary;
        box-shadow: none;
        &:hover {
            opacity: .8;
        box-shadow: none;
            background-color: $secondary !important;
        }
    }

    .ant-checkbox-inner{
        background-color: $secondary !important;
        border-color: $secondary !important;
    }
    .option {
        background-color: $background ;
        font-size: 1rem;
        border-radius: .4rem;
        padding: .4rem.5rem;
    }
}