/* $layout-breakpoint-small: 960px; */
@import '../../../../styles/variables';

.form {
    width: 95%;
    margin: 1rem 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .button {
        background-color: $secondary;
        border: none;
        width: 12rem;
        font-size: 1rem;
        color: white;
        height: 2.69rem;
    }

    .input {
        border-bottom: 1px solid white;
        width: 95%;
        color: white;
        font-size: 1.1rem;
        margin: 1.2rem;
    }

    .buttonContainer {
        height: 50%;
        width: 95%;
        margin-top: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 1rem;
    }

    .textForgotPassword {
        font-size: 0.95rem;
        color: white;

    }
}