@import "../../../../../styles/variables";

.mainProyectsForm {
    width: 100%;
    overflow-y: scroll;
    height: 100%;

    .textError {
        color: red;
        padding-left: 0.5rem;
    }

    .headerProyectsForm {
        padding: .5rem 0;
        padding-right: .5rem;
        justify-content: space-between;

        h2,
        h3,
        h4 {
            color: $secondary-gray;
        }

    }

    .ant-upload-select {
        width: 150px !important;
        height: 150px !important;
        margin-top: .75rem !important;
    }


    .ant-upload-wrapper {
        width: 50% !important;
    }

    .buttonAction {
        color: black;
        display: flex;

        &:hover {
            opacity: 0.8;
            color: black;
        }
    }

    .generalProject {
        width: 100%;
        flex-wrap: wrap;

        h2,
        h3,
        h4 {
            color: $gray;
        }

        h5 {
            color: $gray;
        }

        .containerInput {
            width: 23%;
            margin: 0.25rem 0.5rem;

            .ant-color-picker-trigger {
                background-color: $background;
                justify-content: flex-start;
                padding: 1.5rem;
                border: none;
            }

            .ant-popover-inner {
                background-color: $background;

            }

            .ant-select-selection-item-content {
                color: black;

            }

            .ant-input-disabled {
                color: black;
            }
        }

        .input {
            background-color: $background;
            margin-bottom: 0.2rem;
            border-radius: 0;
            padding: 0.7rem;
            border-radius: 0.25rem;

            &::placeholder {
                color: $secondary-gray;
            }
        }

        .textError {
            padding-left: 0.5rem;
        }

        .inputError {
            border: 1px dashed red;
            background-color: $background;
            margin-bottom: 0.2rem;
            border-radius: 0;
            padding: 0.7rem;
            border-radius: 0.25rem;

            &::placeholder {
                color: $secondary-gray;
            }
        }
    }


}