.mainProjectsTable{
    box-shadow: -6px 6px 32px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 2rem;
    .mainProjectsTable_header{
        margin: 2rem 0;
    }
    .buttonNewProject{
        background-color: rgba(229, 50, 97, 1);
        &:hover{
        background-color: rgba(229, 50, 97, 1) !important;
        opacity: 0.8;

        }
    }
}